/* You can include your custom styling here */
.navbar-default {
	background-color: #fff;
	border-bottom: 2px solid #d9e0e2;
}

#left-links {
	margin-left: 6px;
}

.sidebar {
	background-color: #fff
}

#menu-sidebar {
	background-color: #ff3c1f;
	color: #fff;
}

#menu-sidebar {
	text-transform: uppercase;
}

.main {
		margin-left: 319.25px;
		background-color: #f8f9fa;

}

.top-message {
	text-align: center;
}

.news-content {
	border: 2px solid #e7e7e7;
	background-color: #fff;
}