/* You can include your custom styling here */
body {
	color: #4e5860;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

a {
	color: #ff3c1f;
}

.navbar-default {
	background-color: #fff;
	border-bottom: 2px solid #d9e0e2;
}

#left-links {
	margin-left: 6px;
}

.sidebar {
	background-color: #fff
}

.nav-sidebar {
	margin: 0 auto;
}

#menu-sidebar {
	background-color: #ff3c1f;
	color: #fff;
}

#menu-sidebar {
	text-transform: uppercase;
	width: 100%;
}

#menu-sidebar {
	text-align: left;
}

#menu-sidebar .caret {
	float: right;
	margin-top: 10px;
}

.filter-sidebar {
	margin-top: 10px;
	width: 100%;
}

.btn-default {
	text-transform: uppercase;
}

.list-sidebar {
	padding-left: 0;
}

@media (min-width: 1200px) {
	.col-lg-9.main {
		margin-left: 319.25px;
		background-color: #f8f9fa;
}
}

.top-message {
	text-align: center;
}

.news-content {
	border: 2px solid #eceff0;
	background-color: #fff;
}

.list-sidebar li {
	margin-top: 12px;
	border-top: 1px solid #eceff0;
	padding-top: 5px;
}

.sidebar-img {
	float: left;
	margin: 8px;
}

.sidebar-news {
	margin: 0 6px;
}

.sidebar-news h5 {
	font-style: normal;
}